/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";


 .footer_text
 {
     text-align: center;
 }

 .good
 {
     float: right;
 }
 .center
 {
     text-align: center;
 }
.nav-link , .navbar-brand
{
    text-decoration-line: none !important;

}

.fa fa-trash
{
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: 50px;
    
}

.fa fa-cart-plus
{
    width: 100px;
    height: 100px;
    font-size: 100px;
}

.dropbtn {
    //background-color: #4CAF50;
    color: white;
    //padding: 16px;
    // font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

// .dropdown:hover .dropbtn {background-color: #3e8e41;}

.dropbtn
{
    margin-left: 40px;
}

.good
{
    margin-left: 40px;
}
